<div th:fragment="html">
    <script>
        $(function(){
            var pid = getUrlParms("pid");
            var data4Vue = {
                uri:'frontproduct',
                p:'',
                category:null,
                firstProductImage:null,
                pvs:[],
                comments:[],
                showDetail:true,
                showComment:false,
                user:{name:'', password:''}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    linkDefaultActions();
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"/"+pid;
                        axios.get(url).then(function(response) {
                            var result = response.data;//下面三个数据都是从解开map集合的数据得来的
                            vue.p=result.data.product;
                            vue.pvs=result.data.pvs;
                            vue.comments=result.data.comments;

                            vue.category = vue.p.category;
                            vue.firstProductImage = vue.p.firstProductImage;
                            vue.$nextTick(function(){
                                imgAndInfoPageRegisterListeners(vue);
                            })
                        });

                    },
                    toggle2Detail:function(){
                        this.showDetail=true;
                        this.showComment=false;
                    },
                    toggle2Review:function(){
                        this.showDetail=false;
                        this.showComment=true;
                    }
                }
            });

        });
    </script>

    <title>模仿天猫官网 -- {{p.name}}</title>
    <div class="categoryPictureInProductPageDiv">
        <img v-if="category!=null" class="categoryPictureInProductPage" :src="'img/category/'+category.id+'.jpg'">
    </div>
    <div class="productPageDiv">
        <div th:replace="include/front/product/imgAndInfo::html" ></div>
        <div th:replace="include/front/product/productReview::html" ></div>
        <div th:replace="include/front/product/productDetail::html" ></div>
    </div>
</div>
