<!--
首页和搜索结果页包含的是search.html
其他页面包含的是simpleSearch.html。
而front/generalSearch.html和search.html又不同
前者是查询结果页面，后者是被包含的查询输入框。
-->
<div class th:fragment="html">
    <a th:href="${application.contextPath}">
        <img id="logo" src="img/site/logo.gif" class="logo">
    </a>
    <form action="search" method="get" >
        <div class="searchDiv">
            <input name="keyword" type="text" placeholder="时尚男鞋  太阳镜 ">
            <button  type="submit" class="searchButton">搜索</button>
            <div class="searchBelow"><!--这里其实不是随机的，而是限定了下标范围-->
                <span th:each="c,status: ${application.categories_below_search}" th:if="${status.index>=5 && status.index<=8}">
                    <a th:href="@{'category?cid='+${c.id}}" th:text="${c.name}" ></a>
                    <span th:if="${status.index!=8}">|</span>
                </span>
            </div>
        </div>
    </form>
</div>